.HistogramGraph{
    text-align: center;
}

#txInfobox {
    position: fixed;
    z-index: 1;
    background: lightgrey;
    border: 1px black solid;
    border-radius: 10px;
  }
  tr {
    border: 1px gray solid;
  }
  td {
    font-size: 10px;
  }
  td.data {
    font-weight: 900;
  }
  